<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="container">
        <div class="row">
            <div class="col-12">
                <form class="form form-actualizar">
                    <label for="">Nombre articulo:</label>
                    <input type="text" name="narticulo" class="narticulo">
                    <label for="">Marca:</label>
                    <input type="text" name="marca" class="marca"> 
                    <label for="">Color:</label>
                    <input type="text" name="color" class="color">
                    <label for="">Existencia</label>
                    <input type="number" name="existencia" class="existencia">
                    <label for="">Categoria</label>
                    <select name="categoria" id="categoria_id" class="categoria">
                        <option value="" selected disabled>-Seleccione la categoria--</option>
                    </select>
                    <button class="btn-actualizar">Actualizar</button>


                </form>
            </div>
        </div>
    </main>
    <script src="../mostrar_actualizar.js"></script>
    <script src="../actualizar.js"></script>
</body>
</html>